# Carga de datos a trav√©z de la funcion read_csv
# Se importa pandas



# para la ruta en windows se usa r"ruta" para no cambiar la \ por /
# pandas.read_cvs(r"C:\user\titanic3.cvs")

In [4]:
import pandas as pd

In [27]:
main_path = "C:/orlando/repo_github/python-ml-course/datasets/"
filename= "/titanic/titanic3.csv"
fullpath = main_path + "/" + filename

In [8]:
pwd

'C:\\orlando\\repo_github\\python-ml-course\\datasets\\notebooks'

In [10]:
cd ..

C:\orlando\repo_github\python-ml-course

In [ ]:
ls

In [ ]:
cd titanic

In [14]:
pwd

'C:\\orlando\\repo_github\\python-ml-course'

In [15]:
cd notebooks/

C:\orlando\repo_github\python-ml-course\notebooks

In [ ]:
ls

In [17]:
pwd

'C:\\orlando\\repo_github\\python-ml-course\\notebooks'

In [21]:
data = pd.read_csv("../titanic/titanic3.csv")

In [22]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [25]:
data = pd.read_csv(fullpath)

In [26]:
print(fullpath)

C:/orlando/repo_github/python-ml-course/datasets/titanic/titanic3.csv

In [31]:
data2 = pd.read_csv(main_path + "/" + "customer-churn-model/Customer Churn Model.txt")

In [32]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [33]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [35]:
data3 = open(main_path + "/" + "customer-churn-model/Customer Churn Model.txt","r")

In [40]:
cols = data3.readline().strip().split(",")

In [41]:
cols2

['OH',
 '107',
 '415',
 '371-7191',
 'no',
 'yes',
 '26',
 '161.600000',
 '123',
 '27.470000',
 '195.500000',
 '103',
 '16.620000',
 '254.400000',
 '103',
 '11.450000',
 '13.700000',
 '3',
 '3.700000',
 '1',
 'False.']

In [43]:
cols2 = data2.columns.values

In [44]:
cpls2

NameError: name 'cpls2' is not defined

In [45]:
cols2

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [46]:
data3 = open(main_path + "/" + "customer-churn-model/Customer Churn Model.txt","r")

In [47]:
data3.columns.values

AttributeError: '_io.TextIOWrapper' object has no attribute 'columns'

In [48]:
data3

In [57]:
cols = data3.readline()

In [50]:
cols

"State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?\n"

In [55]:
cols = data3.readline().strip()

In [56]:
cols

'OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,61.900000,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.'

In [58]:
cols

'OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,148.300000,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.\n'

In [59]:
cols = data3.readline()

In [60]:
cols

'AL,118,510,391-8027,yes,no,0,223.400000,98,37.980000,220.600000,101,18.750000,203.900000,118,9.180000,6.300000,6,1.700000,0,False.\n'

In [61]:
cols

'AL,118,510,391-8027,yes,no,0,223.400000,98,37.980000,220.600000,101,18.750000,203.900000,118,9.180000,6.300000,6,1.700000,0,False.\n'

In [62]:
cols

'AL,118,510,391-8027,yes,no,0,223.400000,98,37.980000,220.600000,101,18.750000,203.900000,118,9.180000,6.300000,6,1.700000,0,False.\n'

In [64]:
cols = data3.readline()

In [65]:
cols

'MO,147,415,329-9001,yes,no,0,157.000000,79,26.690000,103.100000,94,8.760000,211.800000,96,9.530000,7.100000,6,1.920000,0,False.\n'

In [66]:
cols

'MO,147,415,329-9001,yes,no,0,157.000000,79,26.690000,103.100000,94,8.760000,211.800000,96,9.530000,7.100000,6,1.920000,0,False.\n'

#  Lectura y escritura de ficheros

In [76]:
infile = main_path + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = main_path + "/" + "customer-churn-model/Tab2 Customer Churn Model.txt"

In [78]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [79]:
df5 = pd.read_csv(outfile,sep = "\t")

In [80]:
df5

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [77]:
print(outfile)

C:/orlando/repo_github/python-ml-course/datasets//customer-churn-model/Tab2 Customer Churn Model.txt