#### Importacion de librerias

In [16]:
import pandas as pd
import numpy as np
import os

#### Carga de datos desde archivo fuente en csv con funcion read_csv() o read_excel()

In [9]:
pwd

'C:\\orlando\\repo_github\\python-ml-course\\datasets\\notebooks'

In [18]:
data = pd.read_csv("../titanic/titanic3.csv")

### Parametros para la funcion pd.read_csv
> Vamos a ver los argumentos de read_csv 
>

In [19]:
data.head() # ver primeras lineas en data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## Ejemplos de parametros funci√≥n read_csv

### argumento filepath = camino, sperarador set = , tipo de datos dtype=none
data = pd.read_csv(filepath = "c:/orlando/repo_github/python-ml-course/datasets/titanic/titanic3.csv", sep = ",", dtype=None) 

### argumento filepath = camino, sperarador set = , tipo de datos dtype= si hay dos campos, especifica campo "a": tipo dato, "b": tipo dato
data = pd.read_csv("c:/orlando/repo_github/python-ml-course/datasets/titanic/titanic3.csv",
                   sep = ",", dtype={"a":np.float64, "b" :np.int32}) 

### argumento filepath = camino, sperarador set = , tipo de datos dtype= si hay dos campos, especifica campo "a": tipo dato, "b": tipo dato
# header=0,names={"ingresos", "edad"}, skiprows=12 salta la linea 12) 
data = pd.read_csv("c:/orlando/repo_github/python-ml-course/datasets/titanic/titanic3.csv",
                   sep = ",", dtype={"a":np.float64, "b" :np.int32}, header=0,names={"ingresos", "edad"},
                  skiprows=none, inde_col=None, skip_blank_lines=False, na_filter=True)

## Usar variables para los path de archivos 

### Camino de la carpeta principal donde estan los notebooks

main_path = "C:/orlando/repo_github/python-ml-course/datasets/"

### Nombre del archivo a usar
filename= "customer-churn-model/Customer Churn Model.txt"

### Se concatena el camino total
#### se debe importar os   import os para usar os.path.join 
fullpath = os.path.join(main_path,filename)


data = pd.read_csv(fullpath)
data.head()
data

In [29]:
main_path = "C:/orlando/repo_github/python-ml-course/datasets/"
filename= "customer-churn-model/Customer Churn Model.txt"
fullpath = os.path.join(main_path,filename)
data2 = pd.read_csv(fullpath)
data2.head()
#data2

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [30]:
# valores de las columnos - Obtener nombres de las columnas en un array
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [31]:
# Leer un archivo con nombre de columnas y convertirlos en lista para usar como encabezado de otro dataset
# Este ejemlo es cuando se trae el encabezado en otro fichero, y esta en una columna. 
filename2= "/customer-churn-model/Customer Churn Columns.csv"
data_cols = pd.read_csv(main_path + filename2)
data_cols

   Column_Names
0             A
1             B
2             C
3             D
4             E
5             F
6             G
7             H
8             I
9             J
10            K
11            L
12            M
13            N
14            O
15            P
16            Q
17            R
18            S
19            T
20            U

In [32]:
# Convertir en lista
data_col_list = data_cols["Column_Names"].tolist()
data_col_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U']

In [34]:
# se une el encabezado con el dataset para tener el dataset con los headers de columnas
# header= none es para que no lea la cabecere del dataset, y names = pasa la lista de campos que vamos a adjuntar 
data2 = pd.read_csv(main_path + filename, header = None, names = data_col_list)
data2.head()
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

In [35]:
data2.head()

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.

In [36]:
data2

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,AZ,192,415,414-4276,no,yes,36,156.200000,77,26.550000,...,126,18.320000,279.100000,83,12.560000,9.900000,6,2.670000,2,False.
3330,WV,68,415,370-3271,no,no,0,231.100000,57,39.290000,...,55,13.040000,191.300000,123,8.610000,9.600000,4,2.590000,3,False.
3331,RI,28,510,328-8230,no,no,0,180.800000,109,30.740000,...,58,24.550000,191.900000,91,8.640000,14.100000,6,3.810000,2,False.
3332,CT,184,510,364-6381,yes,no,0,213.800000,105,36.350000,...,84,13.570000,139.200000,137,6.260000,5.000000,10,1.350000,2,False.
3333,TN,74,415,400-4344,no,yes,25,234.400000,113,39.850000,...,82,22.600000,241.400000,77,10.860000,13.700000,4,3.700000,0,False.

# Carga de datos a traves de la funci√≥n open
Lee el dataset linea por linea o por trozos, ejecutando un bucle for y va borrando de memoria los trozos de linea que ya leyo, par cargar los sgtes.

Cuidado con el m√©todo open
Aunque en la clase anterior vimos un ejemplo del m√©todo open de Python donde en este caso s√≥lo se utiliz√≥ el modo "r" (lectura) siempre es bueno recordar lo siguiente para evitar problemas con los ficheros:

Hay que tener cuidado al abrir un fichero en modo "w" (escritura) ya que esto har√° que dicho fichero pierda su contenido (en caso de tenerlo y querer conservarlo). Si por alg√∫n motivo se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append), lo cual posicionar√° el cursor al final y no borrar√° el contenido del mismo.

In [46]:
# abre el archivo 
data3 = open(main_path + filename,'r')

In [47]:
cols = data3.readline().strip().split(",")
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [48]:
n_cols = len(cols)
n_cols

21

## Cargar los registros linea por linea con bucles for

In [51]:
# crea un diccionario main_dict con los valores de cols 
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []
main_dict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

In [56]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print("El data set tiene %d filas y %d columnas" % (counter, n_cols))

El data set tiene 3332 filas y 21 columnas

In [57]:
# se crea un dataFrame desde el main_dict que fue cargado manualmente con open
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Escribir en archivos con Python

con open(file,"w")

In [64]:
#  filename= "customer-churn-model/Customer Churn Model.txt"
#  filename= "customer-churn-model/Tab Customer Churn Model.txt"
filenameTab= "customer-churn-model/Tab_orly Customer Churn Model.txt"
infile = main_path + filename
outfile = main_path + filenameTab

In [65]:
with open(infile,"r") as infile1:    # abre el archivo inicial n modo read
    with open(outfile,"w") as outfile1:   # abre el nuevo archivo en modo write para escribir
        for line in infile1:  # por cada linea en el archivo origen
            fields = line.strip().split(",")  # lee los campos separados por comas
            outfile1.write("\t".join(fields))  # escribe en el archivo de salida los campor separados por tab
            outfile1.write("\n")

In [67]:
df4 = pd.read_csv(outfile, sep = "\t")
df4

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

## Obtener data set desde url 

http://www.winterolympicsmedals.com/
dataset medals.csv
http://www.winterolympicsmedals.com/medals.csv

In [68]:
medals_url = "http://www.winterolympicsmedals.com/medals.csv"
medals_data = pd.read_csv(medals_url)
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# otros paquetes para leer dataset con url externo

paquetes para leer csv 


import urllib3
http = urllib3.PoolManager()
r = http.request('GET', 'http://httpbin.org/robots.txt')
r.status
200
r.data
'User-agent: *\nDisallow: /deny\n'

In [72]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', 'http://www.winterolympicsmedals.com/medals.csv')
r.status
response = r.data

In [73]:
import csv 
cr = csv.reader(response)

In [74]:
for row in cr:
    print(row)

Error: iterator should return strings, not int (did you open the file in text mode?)